.header-content {
    position: relative;

    &__title {
        text-align: center;

        @include min-lg {
            margin: 0 0 53px;
        }
        @include lg-md {
            margin: 0 0 43px;
        }
        @include md {
            margin: 0 0 33px;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;

        @include sm {
            //display: flex;
            //justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }

        .btn {
            @include sm {
                min-width: 170px;
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 0.05em;
                font-size: 1rem;
            }
        @include md-sm{
                min-width: 170px;
                height: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 0.05em;
                font-size: 1rem;
            }
            @include lg-md {
                min-width: 200px;
                height: 50px;
                padding-top: 14px;
                padding-bottom: 14px;
                letter-spacing: 0.1em;
                font-size: 1rem;
            }
            @include min-lg {
                min-width: 250px;
            }


            &:not(:last-of-type) {
                @include sm {
                    margin-bottom: $gap;
                }
                @include md-sm {
                    margin-right: $gap;
                }
                @include lg-md {
                    margin-right: $gap;
                }
                @include min-lg {
                    margin-right: $gap;
                }


            }
        }

        }

        &__container {
            @extend %container;
        }

    }





